<h1>Welcome to the event planner</h1>

<% if logged_in? %>
    <%= current_user.email %>

<% end %>
<br>
<%= render "event" %>
<br>

<%= link_to "New Event!", new_event_path%>


<br>
<%= link_to "New User", new_user_path %>
<br>
<%= link_to "Log In", login_path%>
<br>
<%= link_to "log out", logout_path %>

<br>
<h3> Look at all these upcoming events! </h3>  <br>


    <% @events.each do |event| %> 


        <div>
        <br> <%= link_to event.title, event_path(event) %> <br>
        </div>
        <div>
            <%= event.date %> <br>
        </div>
        <div>
        <%= event.location %> <br>
        </div>
        

    <% end %>
