<h1>Welcome to the event planner</h1>

<% if logged_in? %>
    <%= current_user.email %>

<% end %>
<br>
<%= render "event" %>
<br>

<%= link_to "New Event!", new_event_path%>


<br>
<%= link_to "New User", new_user_path %>
<br>
<%= link_to "Log In", login_path%>
<br>
<%= link_to "log out", logout_path %>

